$default-bg-green: #b3e87d;
$active-bg-green: #87cc42;
$active-outlined-bg-green: #e2fbcc;
$disabled-bg-green: #e2fbcc;

$default-border-green: #87cc42;
$disabled-border-green: #b3e87d;

$default-label-color: #303240;
$disabled-label-color: #c4c6cf;

$default-text-color: #468c00;
$active-text-color: #87cc42;
$disabled-text-color: #b3e87d;

.button {
    min-height: 40px;
    min-width: 40px;
    line-height: 20px;
    border-radius: 8px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}

.contained {
    height: 48px;
    color: $default-label-color;
    background-color: $default-bg-green;
}

.outlined {
    height: 48px;
    color: $default-label-color;
    border-color: $default-border-green;
}

.text {
    width: fit-content;
    color: $default-text-color;
}

.small-contained {
    @extend .contained;
    height: 32px;
}

.contained:disabled {
    color: $disabled-label-color;
    background-color: $disabled-bg-green;
}

.outlined:disabled {
    color: $disabled-bg-green;
    border-color: $disabled-border-green;
}

.small-contained:disabled {
    color: $disabled-label-color;
    background-color: $disabled-bg-green;
}

.text:disabled {
    color: $disabled-text-color;
    background: none;
}

.contained:hover,
.small-contained:hover {
    background-color: $default-bg-green;
}

.outlined:hover {
    background: none;
    border-color: $default-border-green;
}

.text:hover {
    background: none;
}

.contained:active {
    background-color: $active-bg-green;
}

.small-contained:active {
    background-color: $active-bg-green;
}

.outlined:active {
    background-color: $active-outlined-bg-green;
    border-color: $default-border-green;
}

.text:active {
    color: $active-text-color;
    background: none;
}
